@model LibManagerMVC.Models.Loan.LoanCreateViewModel
@{
    ViewData["Title"] = "Add a Loan";
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>ERROR:</strong> @TempData["ErrorMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1 class="display-4">Add a Loan</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create" method="post" class="row g-3">
    <div class="col-md-4">
        <label asp-for="LoanDate" class="form-label"></label>
        <input asp-for="LoanDate" class="form-control">
        <span asp-validation-for="LoanDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReturnDate" class="control-label"></label>
        <input asp-for="ReturnDate" class="form-control" />
        <span asp-validation-for="ReturnDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookID" class="control-label"></label>
        <input asp-for="BookID" class="form-control" />
        <span asp-validation-for="BookID" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-between align-items-baseline">
        <a asp-action="Index">Back to List</a>
        <input type="submit" value="Create" class="btn btn-primary">
    </div>
</form>